.map-container {
  background-color: #ececec;
  border          : 1px solid #ccc;
  border-left     : 0;
  height          : 500px;
  left            : -(740px);
  padding         : 25px;
  position        : absolute;
  top             : 230px;
  width           : 750px;
  z-index         : 1;

  @include border_radius(0 0 5px 0);
  @include border_box();
  @include transition(all, all, 0.5s, ease-in-out);

  &.visible {
    @include transform(translate3d(740px, 0, 0));
  }

  .map-btn {
    background-color: #ececec;
    border          : 1px solid #ccc;
    border-left     : 0;
    cursor          : pointer;
    margin          : 0;
    padding         : 15px;
    position        : absolute;
    right           : -32px;
    top             : -1px;

    @include border_radius(0 5px 5px 0);
    @include border_box();

    &.icon-globe {
      background-position: -328px -136px;
    }

    &.icon-chevron-left {
      background-position: -424px -65px;
    }

    &:hover {
      background-color: darken(#ececec, 5%);
    }

    &:active {
      background-color: darken(#ececec, 15%);
    }
  }

  .map-canvas {
    border: 1px solid #ccc;
    height: 100%;
    width : 100%;

    @include border_box();
  }
}
